:root{
    --bg-color: #1E1E20;
    --text-color1: #d9d9d9;
    --text-color2: #8EA80C;
    --font-family: "Poppins", sans-serif;
    --font-weight: 300;
    --font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; 
    
}
body{
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    

}
#cabecalho{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: var(--bg-color);
    z-index: 1;
    display: flex;
    align-items: center;
}
nav{
    margin: 50px auto;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
li{
    list-style: none;
}
.secao{
    text-decoration: none;
    color: var(--text-color2);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px ;
    transition: 0.6s;
    
}

.secao:hover{
    font-size: 28px;
    transition: 0.5s;
}
main{
    
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    
    
    
}

#contatos{
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 264px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin:380px 0 380px 30px;
    position:fixed;
    left: 0;
    
    
}
.icones-ctt{
    width:50px;
    height: 50px;
}
#apresentacao{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 65px;
}

#img_giu{
    width: 350px;
    border-radius: 90px;
    filter: drop-shadow( 10px 10px 10px  var(--text-color2))
}
#apresentacao_texto{
    font-family: var(--font-family);
    text-align: center;
}
#frase_1{
    color: var(--text-color1);
    font-weight: 300;
    font-size: 36px;
}
#frase_2{
    color:var(--text-color2);
    font-weight: 400;
    font-size: 40px ;
}


#projetos{
    min-height: 1800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 40px;
    padding-top: 90px;
   
}
.section_titulo{
    margin: 20px;
    font-size: 40px;
    font-family: var(--font-family);
    font-weight: 300;
    color:var(--text-color2);
}
#projetos_cards{
    width: 70%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:130px;
    flex-wrap: wrap;
    row-gap: 150px;
}
.cards{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.projetos_img{
    max-width: 600px;
    max-height: 400px;
    border-radius: 20px;
    object-fit:contain;
    
}
.projetos_texto{
    width: 600px;
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--text-color1);
    text-align: justify;
    
}

#stacks{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 90px;
    padding-bottom: 20px;
    
      
}
.titulos{
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 400;
    color: var(--text-color1);

}
#stacks_cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap:160px;
    justify-content: center;
    align-items: center;
}
.cards2{
   display:flex;
   flex-direction: column;
   align-items: center;
   gap:80px;
    
}
.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

}
.icones_linguagens{
    width: 50px;
    height: 50px;
}
#rodape{
    width: 100%;
    height: 40px;
    background-color: var(--text-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:relative;
    bottom:0;
     */
}
#rodape h5{
    color: var(--bg-color);
    font-size: 16px;
    font-family: var(--font-family);
    
}